ion-title {
  font-size: 1.5em;
  font-weight: bold;
}

ion-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

ion-datetime {
  width: 100%;
  margin-bottom: 1em;
}

ion-button {
  margin-top: 1em;
}
